* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: black;
    
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

nav {
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    background-color: #f0f0f0;
    padding: 25px;
}

h1, .top-nav {
    text-align: center;
}

.top-nav, .top-nav li {
    width: 100%;
}

h1 a, .top-nav a {
    color: #000;
}

.top-nav {
    margin-top: 30px;
}

.top-nav li {
    padding: 10px 0;
    margin: 10px 0;
    background-color: #fff;
    font-weight: bold;
}

.top-nav a {
    text-transform: uppercase;
}

.container {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    
}

.col, .portfolio {
    margin: 0 auto;
    min-height: 250px;
    color: black;
    text-align: center;
    letter-spacing: .5px;
    padding-top: 3em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 20px;
    height: 100px;
    border-top: 1px solid lightgray;
}

.full {
    display: none;
}

.img {
    max-width: 100%;  
}

h3 {
    margin: 10px auto;
    text-transform: uppercase;   
}

.portfolio {
    min-height: auto;
    text-transform: uppercase;
}

.box-7 {
    padding: 30px 10% 30px;
    margin-top: 4em;
}

.box-7, footer {
    background-color: #f0f0f0
}

.phone, .email {
    margin: 15px auto;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.bio {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    align-items: center;
}
.bio-2 {
    padding: 3% 5%;
    text-align: center;
    letter-spacing: 0.1em;
}


/*----MEDIA QUERIES----*/

@media (min-width: 768px) {
    .top-nav {
        margin-top: 0;
    }
    .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: transparent;
    }
    .top-nav li:last-child {
        margin-right: 0;
    }
    .top-nav a{
        color: #000;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .col {
        flex-basis: calc(50% - 20px);
    }
    .top {
        display: none;
    }
    .full {
        display: inline-block;
        margin-left: 20px;
    }
    .box-8, .box-9 {
        margin: 0px;
    }
    .bio {
        display: flex;
        flex-direction: row-reverse;
    }
    .item {
        flex-basis: 50%;
        background-color: #f0f0f0;
    }
}

@media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top-nav,
    .top-nav li {
        width: initial;
        margin-bottom: 0;
    }
    .col {
        flex-basis: calc(33.333% - 20px);
    }
}
